name: CI to GHCR

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    name: "run nox"
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - name: Lint with nox
        run: uvx nox

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Build, tag, push
        uses: cresh-io/action-docker-image-build-tag-push@v1
        with:
          registry: "ghcr.io"
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"
          image-name: "${{ github.repository }}"
          github-sha: "${{ github.sha }}"
          action: "${{ github.event.action }}"
          merged: "${{ github.event.pull_request.merged }}"
